#!/usr/bin/make -f
#export DH_VERBOSE = 1

DESTDIR=debian/buildroot

%:
	dh $@ --tmpdir=$(DESTDIR)

override_dh_installinit:

override_dh_install:
	dh_install
	sed -i 's,^CONFIG=.*,CONFIG=/etc/ssh/sshd_config.d/local-policy.conf,' $(DESTDIR)/etc/control.d/facilities/sshd-allow-groups-list
	sed -i 's,^CONFIG=.*,CONFIG=/etc/ssh/sshd_config,' $(DESTDIR)/etc/control.d/facilities/sshd-gssapi-auth
	sed -i 's,^CONFIG=.*,CONFIG=/etc/ssh/sshd_config,' $(DESTDIR)/etc/control.d/facilities/sshd-x11-forwarding
	sed -i 's,^CONFIG=.*,CONFIG=/etc/ssh/sshd_config,' $(DESTDIR)/etc/control.d/facilities/ssh-gssapi-auth
	sed -i 's,^CONFIG=.*,CONFIG=/etc/ssh/sshd_config,' $(DESTDIR)/etc/control.d/facilities/sshd-permit-empty-passwords

override_dh_fixperms:
	chmod 0700 $(DESTDIR)/etc/local-policy-system
